[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.13.1"
django-filter = "==21.1"
uuid = "==1.30"
djangorestframework-simplejwt = "==5.2.0"
django-cors-headers = "==3.12.0"
spatialite = "==0.0.3"
psycopg2 = "==2.9.3"
gunicorn = "==20.1.0"
django-heroku = "==0.3.1"
whitenoise = "==6.1.0"
attr = "==0.3.1"
googlemaps = "==4.6.0"
asgiref = "==3.5.2"
certifi = "==2022.5.18.1"
charset-normalizer = "==2.0.12"
dj-database-url = "==0.5.0"
idna = "==3.3"
importlib-metadata = "==4.11.4"
pytz = "==2022.1"
requests = "==2.27.1"
sqlparse = "==0.4.2"
tzdata = "==2022.1"
urllib3 = "==1.26.9"
zipp = "==3.8.0"
Django = "==4.0.4"
Markdown = "==3.3.7"
Pillow = "==9.1.1"
PyJWT = "==2.4.0"
django-storages = {extras = ["dropbox"], version = "*"}
google-cloud-storage = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.9"
